/* Global Styles */
:root {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-color: #000000;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

/* Local Styles */
.nav {
    position: sticky;
    background-color: #000000;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-logo {
    height: 45px;
    width: 45px;
}

.navbar-ul {
    position: fixed;
    background-color: #000000;
    top: 75px;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: height .5s ease;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 80px;
    padding-left: 0;
    list-style-type: none;
}

.nav-li {
    padding-bottom: 35px;
}

/*.nav-li:last-child {*/
    /*width: 0;*/
    /*height: 0;*/
    /*overflow: hidden;*/
/*}*/

.nav-link-button {
    border: 2px solid #ffff00;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffff00;
}

.nav-link-button:hover {
    background-color: #ffff00;
    color: #000000;
    transition: background-color 100ms ease;
}

.nav-link {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.nav-open {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.hb-icon-btn {
    position: absolute;
    top: 28px;
    right: 20px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hb-icon1, .hb-icon2, .hb-icon3 {
    display: block;
    margin-bottom: 4px;
    height: 2px;
    width: 25px;
    background-color: #ffffff;
}

.hb-right {
    transition: 100ms transform ease;
    transform: rotate(45deg) translate(5px, 2px);
}

.hb-center {
    height: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
}

.hb-left {
    transition: 100ms transform ease;
    transform: rotate(-45deg) translate(5px, -2px);
}

.main-content {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), url("../media/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 150px;
    padding-bottom: 200px;
    max-width: 300px;
}

.main-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 50px;
}

.general-btn-style {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    border: solid 2px #ffffff;
    border-radius: 4px;
}

.book-btn {
    background-color: #ffffff;
    color: #000000;
    transition: color 120ms ease, background-color 100ms ease;
}

.book-btn:hover {
    background-color: #666666;
    border: solid 2px #666666;
    color: #ffffff;
}

.directions-btn {
    transition: color 120ms ease, background-color 100ms ease;
}

.directions-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.main-logo {
    max-width: 300px;
}

.map {
    margin: auto;
    width: 300px;
    height: 200px;
    margin-bottom: 40px;
}

.hours-list {
    margin: auto;
    width: 300px;
    margin-bottom: 70px;
}

.hours-list thead tr th {
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
}

.hours-list tbody th {
    padding-right: 18px;
}

.hours-list tr {
    text-align: left;
}

.hours-row3 td {
    font-weight: normal;
    font-size: 12px;
    padding-top: 10px;
}

.hours-cta {
    padding-bottom: 30px;
}

.contact-header {
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 10px;
}

.contact-content {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("../media/bokeh-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: left;
    margin: auto;
    font-style: unset;
    line-height: 21px;
}

.footer-wrapper {
    font-weight: normal;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 80px;
}

.address-wrapper {
    font-style: unset;
    margin: auto;
    max-width: 210px;
    text-align: center;
    margin-bottom: 20px;
}

.footer-links-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.footer-social-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.copyright-wrapper {
    text-align: center;
    color: #444444;
    font-size: 10px;
}

.phone-number:hover {
    transition: color 100ms ease;
    color: #aaaaaa;
}

.fb-icon {
    height: 13px;
    padding-right: 12px;
}

.social-link:hover {
    transition: color 100ms ease;
    color: #aaaaaa;
}

.not-found-content {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url("../media/bokeh-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.not-found-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 90px;
}

.not-found-quip {
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

.not-found {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 120px;
    color: #666666;
}

.home-button {
    background-color: #ffff00;
    border-color: #ffff00;
    color: #000000;
    margin-top: 30px;
    max-width: 100px;
}

.home-button:hover {
    transition: 100ms background-color ease, 100ms color ease, 100ms border-color ease;
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

/*
    screens larger than 600px
*/

@media (min-width: 600px) {
    .main-content-wrapper {
        max-width: 500px;
    }

    .main-logo {
        max-width: 400px;
    }

    .main-btn-wrapper {
        width: 400px;
    }

    .footer-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .address-wrapper {
        text-align: left;
        margin: 0;
        line-height: 21px;
    }

    .footer-links-wrapper {
        flex-direction: column;
        justify-content: unset;
        min-width: 100px;
        padding-left: 20px;
    }

    .footer-links {
        padding-bottom: 10px;
    }

    .footer-links:hover {
        color: #aaaaaa;
    }

    .footer-social-wrapper {
        justify-content: flex-start;
        min-width: 100px;
    }

    .copyright-wrapper {
        margin-top: auto;
        text-align: right;
    }

    .contact-wrapper {
        padding-bottom: 50px;
    }

    .map {
        width: 550px;
        height: 350px;
    }

    .contact-info {
        width: 550px;
        margin: auto;
    }

    .hours-cta {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }

    .hours-list {
        margin: 0;
    }

    .contact-us-wrapper {
        margin: 0;
    }

    .not-found {
        font-size: 140px;
    }
}

@media (min-width: 900px) {
    .hb-icon-btn {
        width: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
    }

    .navbar-wrapper {
        display: flex;
        flex-direction: row;
    }

    .navbar-ul {
        display: flex;
        justify-content: flex-end;
        position: unset;
        width: 100%;
        height: unset;
    }

    .nav-ul {
        flex-direction: row;
        padding: 0;
    }

    .nav-li {
        padding-bottom: 0;
        padding-left: 50px;
    }

    .nav-link {
        font-size: 12px;
    }

    .nav-link:hover {
        padding-bottom: 5px;
        transition: border-bottom 120ms ease;
        border-bottom: 4px solid #ffff00;
    }

    .nav-li:last-child {
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        padding-right: 20px;
    }

    .main-content-wrapper {
        padding-top: 208px;
    }

    .map {
        margin: 0;
        width: 500px;
    }
    .contact-wrapper {
        margin: auto;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .contact-info {
        margin: 0;
        width: unset;
    }

    .hours-cta {
        max-height: 300px;
        flex-direction: column;
        padding-top: 50px;
    }

    .hours-list {
        margin-bottom: 50px;
    }

    .not-found {
        font-size: 150px;
    }
}

@media (min-width: 1200px) {
    .contact-content {
        margin: auto;
    }

    .contact-wrapper {
        width: unset;
        margin: unset;
        justify-content: space-evenly;
    }

    .map {
        margin: 0;
        width: 700px;
        height: 450px;
    }

    .hours-cta {
        padding-top: 100px;
    }

    .not-found-wrapper {
        padding-bottom: 120px;
    }

    .not-found {
        font-size: 180px;
    }

}

@media (min-width: 1600px) {

}